@import 'tailwindcss';

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@theme {
    --font-sans: var(--font-aperku-sans), sans-serif;
    --font-mono: var(--font-aperku-sans-mono), monospace;
    --font-logo: var(--font-voyage), monospace;

    --animate-overlay-show: overlay-show 300ms cubic-bezier(0.16, 1, 0.3, 1)
        forwards;
    --animate-overlay-hide: overlay-hide var(--exit-duration, 0ms) ease-in-out
        forwards;
    --animate-content-show: content-show 300ms cubic-bezier(0.16, 1, 0.3, 1);
    --animate-content-hide: content-hide var(--exit-duration, 0ms) ease-in-out
        forwards;

    @keyframes overlay-show {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes overlay-hide {
        0% {
            opacity: 0.7;
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes content-show {
        0% {
            opacity: 0;
            transform: scale(0.96);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    @keyframes content-hide {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
}

:root {
    --base-hue: 266;
    --background: #232323;
    --foreground: hsl(0 0% 98%);
    --card: hsl(0 0% 3.9%);
    --card-foreground: hsl(0 0% 98%);
    --popover: hsl(0 0% 3.9%);
    --popover-foreground: hsl(0 0% 98%);
    --primary: hsl(0 0% 98%);
    --primary-foreground: hsl(0 0% 9%);
    --secondary: #1b1b1b;
    --secondary-foreground: hsl(0 0% 98%);
    --muted: hsl(0 0% 14.9%);
    --muted-foreground: hsl(0 0% 63.9%);
    --accent: 	hsl(8 81% 53%);
    --accent-foreground: hsl(0 0% 98%);
    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(0 0% 98%);
    --border: hsl(0 0% 20%);
    --input: hsl(0 0% 14.9%);
    --ring: hsl(0 0% 83.1%);
    --chart-1: hsl(220 70% 50%);
    --chart-2: hsl(160 60% 45%);
    --chart-3: hsl(30 80% 55%);
    --chart-4: hsl(280 65% 60%);
    --chart-5: hsl(340 75% 55%);
    --radius: 0.6rem;
    --snippet-background: #2A2A2A;
    --comment: oklch(55% 0.03 240);
    --punctuation: oklch(75% 0.01 240);
    --symbol: oklch(80% 0.1 90);
    --selector: oklch(70% 0.08 150);
    --operator: oklch(75% 0.08 190);
    --keyword: oklch(70% 0.1 290);
    --function: oklch(75% 0.1 240);
    --emphasis: oklch(from oklch(60% 0.05 240) l c h / 10%);
    --danger-emphasis: oklch(from oklch(64.51% 0.204 22) l c h / 10%);
    --danger: oklch(64.51% 0.204 22);
    --warning: oklch(70.93% 0.18 60);
    --success: oklch(86.02% 0.176 170);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-card-background: var(--color-background);
    --color-tertiary: var(--color-muted-foreground);
    --color-snippet-background: var(--snippet-background);
    --color-token-comment: var(--comment);
    --color-token-punctuation: var(--punctuation);
    --color-token-symbol: var(--symbol);
    --color-token-selector: var(--selector);
    --color-token-operator: var(--operator);
    --color-token-keyword: var(--keyword);
    --color-token-function: var(--function);
    --color-emphasis: var(--emphasis);
    --color-danger-emphasis: var(--danger-emphasis);
    --color-danger: var(--danger);
    --color-warning: var(--warning);
    --color-success: var(--success);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    html,
    body {
        @apply bg-background text-foreground;
        height: 100%;
        /* Hide scrollbar for IE, Edge and Firefox */
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    html::-webkit-scrollbar, body::-webkit-scrollbar {
        display: none;
    }

    .sandpack-wrapper .sp-layout {
        /* Target the .sp-layout inside the wrapper */
        @apply bg-card-background relative rounded-lg;
        /* Apply base styles */
    }

    @media (max-width: 880px) {
        .sandpack-wrapper .sp-layout {
            @apply block w-screen left-1/2 right-1/2;
            /* Full-width on smaller screens */
        }
    }

    @media (min-width: 880px) {
        .sandpack-wrapper .sp-layout {
            @apply relative w-[calc(100%+150px)] ml-[-75px] mr-[-75px];
            /* Wider on larger screens */
        }
    }

    .sandpack-wrapper .cm-gutterElement {
        @apply text-xs select-none opacity-100;
        /* Gutter styles */
    }

    .sandpack-wrapper .sp-console > button {
        /* Hide console button */
        @apply hidden;
    }
}

.line {
    display: table;
    border-collapse: collapse;
    padding: 0px 14px;
    border-left: 3px solid transparent;
}

.line.highlight-line {
    background: var(--emphasis);
    border-color: var(--color-primary);
}

.line:hover {
    background-color: var(--emphasis);
}

.line-no {
    width: 45px;
    padding: 0 12px;
    user-select: none;
    opacity: 0.6;
    color: var(--color-muted-foreground);
}

.line-content {
    display: table-cell;
    width: 100%;
}

.code-snippet-title {
    margin-block-start: 0px;
    font-size: 14px;
    margin-bottom: 0px;
    color: var(--color-secondary-foreground);
    font-weight: 500;
}

.pre {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    padding: 8px 0px;
    overflow: auto;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: var(--color-snippet-background);
    font-family: monospace;
    font-size: 14px;
    line-height: 26px;
}

/* Token styling */
.pre .token.parameter,
.pre .token.imports,
.pre .token.plain,
.pre .token.comment,
.pre .token.prolog,
.pre .token.doctype,
.pre .token.cdata {
    color: var(--comment);
}

.pre .token.punctuation {
    color: var(--punctuation);
}

.pre .token.property,
.pre .token.tag,
.pre .token.boolean,
.pre .token.number,
.pre .token.constant,
.pre .token.symbol,
.pre .token.deleted {
    color: var(--symbol);
}

.pre .token.selector,
.pre .token.attr-name,
.pre .token.char,
.pre .token.builtin,
.pre .token.number,
.pre .token.string,
.pre .token.inserted {
    color: var(--selector);
}

.pre .token.operator,
.pre .token.entity,
.pre .token.url,
.pre .language-css .style {
    color: var(--operator);
}

.pre .token.atrule,
.pre .token.attr-value,
.pre .token.keyword {
    color: var(--keyword);
}

.pre .token.function,
.pre .token.maybe-class-name,
.pre .token.class-name {
    color: var(--function);
}

.pre .token.regex,
.pre .token.important,
.pre .token.variable {
    color: var(--operator);
}

@media (max-width: 700px) {
    .styled-section {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* BlockquoteWrapper */
.blockquote-wrapper {
    /* Make it fullbleed! */
    margin: 0 -50vw 0 -50vw;
    position: relative;
    left: 50%;
    right: 50%;
    width: calc(var(--vw, 1vw) * 100);
    padding-top: 40px;
    padding-bottom: 40px;
    background: var(--emphasis);
    backdrop-filter: blur(6px);
}

/* BlockquoteContent */
.blockquote-content {
    max-width: 1020px;
    padding: 0 8px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    color: var(--foreground);
}

.blockquote-content p {
    margin-bottom: 0;
    font-size: 24px !important;
    line-height: 1.6818 !important;
    font-weight: 400 !important;
    font-style: italic;
}

/* callout */
/* Icon Wrapper */
.callout-icon-wrapper {
    position: absolute;
    display: flex;
    top: -24px;
    right: -16px;
    border-radius: 50%;
    padding: 6px;
    color: var(--color-background);
    border: 6px solid var(--color-background);
    background: var(--icon-background);
}

.callout-icon-wrapper[data-variant='info'] {
    --icon-background: var(--color-primary);
}

.callout-icon-wrapper[data-variant='danger'] {
    --icon-background: var(--color-danger);
}

.callout-icon-wrapper[data-variant='warning'] {
    --icon-background: var(--color-warning);
}

/* Label Wrapper */
.callout-label-wrapper {
    position: absolute;
    display: flex;
    top: -24px;
    right: -8px;
    border-radius: 8px;
    padding: 8px;
    color: var(--color-background);
    font-size: 14px;
    font-weight: 500;
    user-select: none;
    background: var(--icon-background);
}

.callout-label-wrapper[data-variant='info'] {
    --icon-background: var(--color-primary);
}

.callout-label-wrapper[data-variant='danger'] {
    --icon-background: var(--color-danger);
}

.callout-label-wrapper[data-variant='warning'] {
    --icon-background: var(--color-warning);
}

/* Callout */
.callout {
    position: relative;
    padding: 24px 24px;
    border-radius: 8px;
    color: var(--foreground);
    border: 1px solid var(--callout-border-color);
    background: var(--callout-background);
    margin-bottom: 20px;
}

.callout a {
    color: var(--color-primary);
    text-decoration: underline;
}

.callout[data-variant='info'] {
    --callout-background: var(--emphasis);
    --callout-border-color: var(--color-primary);
}

.callout[data-variant='danger'] {
    --callout-background: var(--danger-emphasis);
    --callout-border-color: var(--color-danger);
}

.callout[data-variant='warning'] {
    --callout-background: oklch(from var(--warning) l c h / 10%);
    --callout-border-color: var(--color-warning);
}

@supports not (color: rgb(from white r g b)) {
    :root {
        --header:
            oklch(18.68% 0.01 var(--base-hue) / 40%),
            --emphasis: oklch(64.6% 0.172 var(--base-hue) / 7%),
            --danger-emphasis: oklch(64.51% 0.204 22 / 10%),
            --warning-emphasis: oklch(76.91% 0.165 60 / 10%),
            --success-emphasis: oklch(86.02% 0.176 170 / 10%);
    }
}

/* Menu Button */
.menu-button {
    position: relative;
    display: inline-block;
    text-align: center;
    height: 40px;
    overflow: hidden;
    border-radius: 38px;
    transition: 0.3s;
    padding: 0 10px;
}

.menu-button:hover:not(:disabled) {
    --border-color: var(--color-primary);
    --border-thickness: 2px;
    --color: var(--color-primary);
    --corner: calc(4px + 2px);
    --button-background-scale: 0.92;
    --shadow: var(--shadow-hover-primary);
}

.menu-button:hover p {
    top: -100%;
}

.menu-button:focus-visible {
    --border-color: var(--color-primary);
    --border-thickness: 2px;
    --color: var(--color-primary);
    --corner: calc(4px + 2px);
    --button-background-scale: 0.92;
    --shadow: var(--shadow-hover-primary);
}

/* Header */
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slide-from-right {
    from {
        transform: translateX(30px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slide-to-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-30px);
    }
}

::view-transition-old(root) {
    animation:
        90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
    animation:
        210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

.underlined {
    position: relative;
    text-decoration: none !important;
    white-space: nowrap;
}

.underlined:focus {
    outline: none;
    text-decoration: none !important;
}

.underlined:after {
    content: '';
    height: 2px;
    transform: scaleX(0);
    transition: transform 0.25s ease;
    transform-origin: left;
    left: 0;
    bottom: -4px;
    width: 100%;
    display: block;
    position: absolute;
}

.underlined:hover:after,
.underlined:focus:after,
.active.underlined:after {
    background-color: currentColor;
    transform: scaleX(1);
}

@media (prefers-reduced-motion) {
    .underlined:after {
        opacity: 0;
        transition: opacity 0.25s ease;
    }

    .underlined:hover:after,
    .underlined:focus:after,
    .active.underlined:after {
        opacity: 1;
    }
}

.text-container {
    position: relative;
    width: 80px;
    /* width: auto; */
    height: 30px; /* Must match text line-height */
    overflow: hidden;
}

.text {
    position: absolute;
    width: 100%;
    margin: 0;
    text-align: center;
    line-height: 30px; /* Match container height */
    transition: all 0.5s ease;
    left: 0;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

.hide {
    opacity: 0;
    transform: translateY(100%); /* Start BELOW the container */
}

.text-container:hover .show {
    opacity: 0;
    transform: translateY(-100%); /* Move UP and fade out */
}

.text-container:hover .hide {
    opacity: 1;
    transform: translateY(0); /* Slide UP into view */
}

/* Add to your global CSS */
.button-animation-wrapper {
    perspective: 1000px;
}

.button-animation-wrapper * {
    transform-style: preserve-3d;
    backface-visibility: hidden;
    will-change: transform, opacity;
}

.push-icon {
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

/* Page Heading clipPath */
.header-text {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.header-text h1 {
    /* Removed visibility: hidden; and opacity: 0; */
    /* Rely on GSAP to handle initial state */
}

.header-text .char {
    position: relative;
    will-change: transform;
}

.header-text p .line {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.header-text p .line span {
    position: relative;
    will-change: transform;
}

.blog-line-parent {
    overflow: hidden;
}

/* View Transitions */
::view-transition-old(root),
::view-transition-new(root) {
    animation: none !important;
}

::view-transition-group(root) {
    z-index: auto !important;
}

::view-transition-image-pair(root) {
    isolation: isolate;
    will-change: transform, opacity, clip-path;
    z-index: 1;
}

::view-transition-new(root) {
    z-index: 1000;
    animation: none !important;
}

::view-transition-old(root) {
    z-index: 1;
    animation: none !important;
}

/***************************
Stuff
***************************/
.botton-thing {
  z-index: 4;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  border-radius: 0;
  justify-content: flex - start;
  align-items: center;
  width: 100 %;
  height: 158px;
  display: flex;
  position: absolute;
  inset: auto 0 % 0 %;
  overflow: visible;
}

/* @media screen and(max-width: 991px) {
    .div-block-20.is-right, .div-block-20.is-player, .div-block-21, .div-block-21.is-right, .div-block-21.is-player {
    display: block;
  }
} */

.div-block-20.is-right {
  z-index: 6;
  left: auto;
  right: 124px;
}
/* @media screen and(max-width: 991px) {
    .div-block-20 {
    display: none;
  }
} */
.div-block-20 {
  z-index: 6;
  width: 9px;
  height: 4px;
  position: absolute;
  top: 0;
  left: 124px;
}

.code-embed-2 {
  width: 100 %;
  height: 100 %;
  position: relative;
  top: 0;
  left: auto;
}

.w-embed:before, .w-embed:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-embed:after {
  clear: both;
}

/* Project Card */
.portfolio-list-item {
    width: calc(50% - 10px);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-x: hidden;
}

.portfolio-list-item__photo {
    width: 100%;
    height: 100%;
    border-radius: 32px;
    -o-object-fit: cover;
    object-fit: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    aspect-ratio: 1.334;
}

.portfolio-list-item__flash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 32px;
    opacity: 0;
}

.portfolio-list-item .portfolio-list-item-info {
    position: absolute;
    max-width: 85%;
    top: auto;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 20px 24px 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: var(--background);
    gap: clamp(20px, 1.667vw, 32px);
    border-radius: 0 32px 0 0;
    z-index: 999;
}

.portfolio-list-item .portfolio-list-item-info__title {
    color: var(--White, #fff);
    font-family: var(--font-sans);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -.4px;
    white-space: nowrap;
}

.portfolio-list-item .portfolio-list-item-info__company {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    text-transform: uppercase;
    position: relative;
    top: 3px;
}

.text--p3.font-secondary, .text--14.font-secondary, p--p3.font-secondary, p--14.font-secondary {
    font-size: clamp(12px, 0.729vw, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 2.1px;
    text-transform: uppercase;
}

/* .text, p {
    color: #fff;
    font-family: var(--font-sans);
    font-size: clamp(18px, 1.042vw, 20px);
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -.4px;
    margin: 0;
} */

.portfolio-list-item:hover {
    cursor: pointer;
}

.portfolio-list-item a:hover {
    text-decoration: none;
    -webkit-transition-duration: .2;
    transition-duration: .2;
}

@media screen and (max-width: 991px) {
    .portfolio-list-item {
        width: 100%;
        height: auto;
    }

    .portfolio-list-item__flash {
        display: none;
    }

    .portfolio-list-item .portfolio-list-item-info {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding: 8px 16px;
        gap: 5px;
        max-width: 100%;
        border-radius: 0;
        height: auto;
    }

    .text--p3.font-secondary, .text--14.font-secondary, p--p3.font-secondary, p--14.font-secondary {
        letter-spacing: 1.8px;
    }
}